.root {
  height: 100vh;
}

.header {
  padding: 10px 12px;
  border-bottom: 1px solid var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-8);

  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 6px;
  background-color: #0f0f0f;
  border-bottom: 1px solid #3b3b3b;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: width 0.3s ease;
  background-color: #0f0f0f;
  border-right: 1px solid #3b3b3b;
}

.sidebar {
  border-bottom: 1px solid var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-7);
}

.main_wrapper {
  padding: 10px 20px;
}
