@use "@/styles/mixins" as *;

$header-h: 56px;
$width-expanded: 240px;
$width-collapsed: 72px;
$duration: 200ms;
$ease: cubic-bezier(0.4, 0, 0.2, 1);

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  grid-area: header;
  height: 117px;
  backdrop-filter: blur(48px);
  background-color: rgba(15, 15, 15, 0.8);
  // border: 1px solid red;
}

.shell {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  min-width: 0;
  padding: 24px;
  margin-left: $width-expanded;
  transition: margin-left $duration $ease;

  &--collapsed {
    margin-left: $width-collapsed;
  }

  &--mobile {
    margin-left: 0;
  }
}
