.centerSection {
  flex: 1;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 900px) {
    max-width: 400px;
  }

  @media (max-width: 640px) {
    display: none;
  }
}

.searchInput {
  flex: 1;

  input {
    height: 40px;
    font-size: 14px;
    padding: 14px 46px 14px 18px !important;
    border-radius: 20px 0 0 20px;
    border: 1px solid rgb(85, 85, 85);
    background-color: #0f0f0f !important;
    color: var(--text-primary, #030303);

    &::placeholder {
      color: var(--text-tertiary, #999);
    }

    &:focus {
      outline: none;
      border-color: #1976d2;
    }

    @media (prefers-color-scheme: dark) {
      color: #fff;
      border-color: #555;
      background-color: #313131;

      &::placeholder {
        color: #aaa;
      }
    }
  }
}

.clearButton {
  color: #fff;
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: #7b7b7b65 !important;
  }
}

.searchBtn {
  width: 60px;
  height: 42px;
  color: #fff;
  border-radius: 0 20px 20px 0;
  background-color: #212121 !important;
  border: 1px solid rgb(85, 85, 85);
  border-left: none;

  &:hover {
    background-color: #e0e0e0;
  }
}
