.wrapper {
  padding-top: 2px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.content {
  padding-top: 10px;
}

.videoTitle {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 4px;
}
